{% extends 'base.html' %}
{% block title %} ScienceAsia - Journal of The Science Society of Thailand {% endblock %}

{% block main %}

<div class="pad_ed items_2022">
    <div class="main_part_of_edition">

        <!-- first item  -->

        <div class="item1_image">
            <a href="{{ url_for('main.static', filename='images/item1.jpg') }}">
                <img class="spimg" src="{{ url_for('main.static', filename='images/item1.jpg') }}" alt="">
            </a>
            <div class="item1_text ul_2022">
                <div class="title_part1">
                    <p class="text"><b>Volume 48 Number 2 (April 2022)</b></p>
                </div>
                <div class="ul">
                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Research progress of plant-derived aconitase as
                            insecticide</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Physicochemical properties of edible bird's nest from
                            Southern
                            Thailand</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Enhancement of chilling resistance in corn treated with
                            salicylic acide</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Green synthesis of silver nanoparticles using leaf extract
                            of
                            Heteropyxis natalensis</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Magnesium fractionation in different types of Thai
                            soil</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Normal approximation for call function of locally dependent
                            random variables</a><br>
                    </div>
                </div>
                <div class="a_2022">
                    [ <a href="{{ url_for('main.volume_1') }}">Table of Contents</a> ]
                </div>
            </div>
        </div>

        <!-- second item  -->

        <div class="item1_image">
            <a href="{{ url_for('main.static', filename='images/item3.jpg') }}">
                <img class="spimg" src="{{ url_for('main.static', filename='images/item3.jpg') }}" alt="">
            </a>
            <div class="item1_text ul_2022">
                <div class="title_part1">
                    <p class="text"><b>Volume 48 Number 1 (April 2022)</b></p>
                </div>
                <div class="a_2022">
                    [ <a href="{{ url_for('main.volume_1') }}">Table of Contents</a> ]
                </div>
            </div>
        </div>

        <!-- third item  -->

        <div class="item1_image">
            <a href="{{ url_for('main.static', filename='images/item1.jpg') }}">
                <img class="spimg" src="{{ url_for('main.static', filename='images/2022_third.jpg') }}" alt="">
            </a>
            <div class="item1_text ul_2022">
                <div class="title_part1">
                    <p class="text"><b>Volume 48 Number 1 (April 2022)</b></p>
                </div>
                <div class="ul">
                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Anthocyanin accumulation at different developmental stages of strawberry
                            fruit</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Fibrinogen and CRP for acute coronary syndrome risk prediction</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Lipopeptide from Bacillus subtilis as cleaning agent for oil-contaminated
                            surface</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Protection of high-density lipoprotein against atherosclerosis in radiation-treated
                            patients</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">Surface reflectance for PM <sub>2.5</sub> investigation in Northern Thailand</a><br>
                    </div>

                    <div class="ul_item">
                        <img src="{{ url_for('main.static', filename='images/bullet1.jpg') }}" alt="">
                        <a href="#">q-difference differential equation and delay differential equation</a><br>
                    </div>
                </div>
                <div class="a_2022">
                    [ <a href="{{ url_for('main.volume_1') }}">Table of Contents</a> ]
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}