{% extends 'base.html' %} {% block title %} ScienceAsia - Journal of The Science Society of Thailand {% endblock %} {%
block main %}
<div class="pad_ed">
    <div class="main_part_of_edition">
        <div class="edition_image">
            <img src="{{ url_for('main.static', filename='images/editorialboard.jpg') }}" alt="">
        </div>

        <div class="max-width">
            <div class="ed_main_part">
                <div class="center_block-ed">
                    <div class="first_ed_block">
                        <div class="part_one">
                            <div class="title_ed">Advisory Committee</div>
                            <ul class="left_part_ul_ed">
                                <li><b>M.R. Jisnuson Svasti</b> Mahidol University, Thailand</li>
                                <li><b>Napavarn Noparatnaraporn</b> Science Society of Thailand</li>
                                <li><b>Supot Hannongbua</b> Chulalongkorn University, Thailand</li>
                                <li><b>Supawan Tantayanon</b> Science Society of Thailand</li>
                                <li><b>Wiparat Dee-ong</b> National Research Council of Thailand</li>
                            </ul>
                        </div>
                        <div class="part_two">
                            <div class="title_ed">Editorial Board</div>
                            <ul class="left_part_ul_ed">
                                <li><b>Ashwani K. Rai</b> Banaras Hindu University, India</li>
                                <li><b>Bin Liu</b> Peking University, China</li>
                                <li><b>Hideyuki Suzuki</b> Kyoto Institute of Technology, Japan</li>
                                <li><b>Jae Hyon Kim</b> Dongduk Women's University, Korea</li>
                                <li><b>Kesara Anamthawat Jónsson </b>University of Iceland, Iceland</li>
                                <li><b>Peter Wolschann</b> University of Vienna, Austria</li>
                                <li><b>Sheila Nathan</b> Universiti Kebangsaan, Malaysia</li>
                                <li><b>Tarique Hussain</b> Nuclear Institute for Agriculture and Biology, Pakistan</li>
                                <li><b>Tatas Brotosudarmo</b> Machung University, Indonesia</li>
                                <li><b>Wai-yeung Wong</b> Hong Kong Polytechnic University, Hong Kong</li>
                                <li><b>Yon Rojanasakul</b> West Virginia University, USA</li>
                                <li><b>Benjavan Rerkasem</b> Chiang Mai University, Thailand</li>
                                <li><b>David Ruffolo</b> Mahidol University, Thailand</li>
                                <li><b>James R. Ketudat-Cairns</b> Suranaree University of Technology, Thailand</li>
                                <li><b>Jumras Limtrakul</b> Vidyasirimedhi Institute of Science and Technology, Thailand
                                </li>
                                <li><b>Phadungsak Rattanadecho</b> Thammasat University, Thailand</li>
                                <li><b>Punya Jarusiri </b>Punya Jarusiri Chulalongkorn University, Thailand</li>
                                <li><b>Sompong Dhompongsa</b> Chiang Mai University, Thailand</li>
                                <li><b>Soottawat Benjakul </b>Prince of Songkla University, Thailand</li>
                                <li><b>Sopit Wongkham </b>Khon Kaen University, Thailand</li>
                                <li><b>Tirayut Vilaivan</b> Chulalongkorn University, Thailand</li>
                                <li><b>Watanalai Panbangred</b> Mahidol University, Thailand</li>
                            </ul>
                        </div>
                    </div>
                    <div class="second_ed_block">
                        <div class="parts_ed">
                            <div class="title_ed">Editor-in-Chief</div>
                            <ul class="left_part_ul_ed">
                                <li><b>Piamsook Pongsawasdi (piamsook.p@chula.ac.th) </b>Chulalongkorn University,
                                    Thailand</li>
                            </ul>
                        </div>
                        <div class="parts_ed">
                            <div class="title_ed">Editors</div>
                            <ul class="left_part_ul_ed">
                                <li><b>Aran Incharoensakdi (aran.i@chula.ac.th)</b> Chulalongkorn University, Thailand
                                </li>
                                <li><b>Paisan Nakmahachalasint (paisan.n@chula.ac.th)</b> Chulalongkorn University,
                                    Thailand</li>
                                <li><b>Sirirat Rengpipat (sirirat.r@chula.ac.th)</b> Chulalongkorn University, Thailand
                                </li>
                                <li><b>Supa Hannongbua (fscisph@ku.ac.th)</b> Kasetsart University, Thailand</li>
                                <li><b>Xian-Ming Gu (guxianming@live.cn)</b> Southwestern University of Finance and
                                    Economics, China</li>
                            </ul>
                        </div>
                        <div class="parts_ed">
                            <div class="title_ed">Managing Editor</div>
                            <ul class="left_part_ul_ed">
                                <li><b>Khamron Mekchay (khamron.m@chula.ac.th)</b> Chulalongkorn University, Thailand
                                </li>
                            </ul>
                        </div>
                        <div class="parts_ed">
                            <div class="title_ed">Assistants to Editors</div>
                            <ul class="left_part_ul_ed">
                                <li><b>Mongkon Youngtanurat</b> ScienceAsia Office</li>
                                <li><b>Yuttapon Taragan</b> Science Society of Thailand</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}