{% extends 'base.html' %} {% block title %} ScienceAsia - Journal of The Science Society of Thailand {% endblock %} {%
block main %}
<div class="pad_ed">
    <div class="main_part_of_edition">
        <div class="edition_image">
            <img src="{{ url_for('main.static', filename='images/editorialboard.jpg') }}" alt="">
        </div>
        <div class="edition_image">

            {% if 'login' in session %}
            <a href="{{ url_for('admin.editorial_board_title', col=1, handler_type=1, id=0, add_type='None') }}"
                class="admin_link add_btn">
                Add Title Col 1
            </a>

            <a href="{{ url_for('admin.editorial_board_title', col=2, handler_type=1, id=0, add_type='None') }}"
                class="admin_link add_btn">
                Add Title Col 2
            </a>
            {% endif %}

        </div>

        <div class="max-width">
            <div class="ed_main_part">
                <div class="center_block-ed">

                    <div class="first_ed_block">

                        {% for title in titles %}

                        {% if title.column %}
                        <div class="part_one">
                            <div class="title_ed">
                                <span>
                                    <p>{{ title.name }}</p>

                                    {% if 'login' in session %}
                                    <div class="item_btn_wrapper">
                                        <a href="{{ url_for('admin.editorial_board_title', col=1, handler_type=0, id=title.id, add_type='None') }}"
                                            class="add_item_btn">
                                            Edit
                                        </a>
                                        <p> | </p>
                                        <a href="{{ url_for('admin.editorial_board_title_delete', id=title.id) }}"
                                            class="add_item_btn">
                                            Delete
                                        </a>
                                    </div>
                                    {% endif %}

                                </span>
                            </div>

                            {% if 'login' in session %}
                            <a href="{{ url_for('admin.editorial_board_item', title_id=title.id, handler_type=1, id=0, add_type='None') }}"
                                class="add_item_btn">
                                <b>Add item +</b>
                            </a>
                            {% endif %}

                            <ul class="left_part_ul_ed">
                                {% for item in items %}

                                {% if item.title_id == title.id %}
                                <li>
                                    <span>
                                        <p>{{ item.text | safe }}</p>
                                        {% if 'login' in session %}
                                        <div class="item_btn_wrapper">
                                            <a href="{{ url_for('admin.editorial_board_item', title_id=title.id, handler_type=0, id=item.id, add_type='None') }}"
                                                class="add_item_btn item_btn">Edit</a>
                                            <p> | </p>
                                            <a href="{{ url_for('admin.editorial_board_item_delete', id=item.id) }}"
                                                class="add_item_btn item_btn">Delete</a>
                                        </div>
                                        {% endif %}
                                    </span>
                                </li>
                                {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% endfor %}

                    </div>

                    <div class="second_ed_block">

                        {% for title in titles %}

                        {% if not title.column %}
                        <div class="parts_ed">
                            <div class="title_ed">
                                <span>
                                    <p>{{ title.name }}</p>

                                    {% if 'login' in session %}
                                    <div class="item_btn_wrapper">
                                        <a href="{{ url_for('admin.editorial_board_title', col = 2, handler_type = 0, id=title.id, add_type = 'None') }}"
                                            class="add_item_btn">
                                            Edit
                                        </a>
                                        <p> | </p>
                                        <a href="{{ url_for('admin.editorial_board_title_delete', id=title.id) }}"
                                            class="add_item_btn">
                                            Delete
                                        </a>
                                    </div>
                                    {% endif %}

                                </span>
                            </div>

                            {% if 'login' in session %}
                            <a href="{{ url_for('admin.editorial_board_item', title_id=title.id, handler_type=1, id=0, add_type='None') }}"
                                class="add_item_btn">
                                <b>Add item +</b>
                            </a>
                            {% endif %}

                            <ul class="left_part_ul_ed">
                                {% for item in items %}

                                {% if item.title_id == title.id %}
                                <li>
                                    <span>
                                        <p>{{ item.text | safe }}</p>
                                        {% if 'login' in session %}
                                        <div class="item_btn_wrapper">
                                            <a href="{{ url_for('admin.editorial_board_item', title_id=title.id, handler_type=0, id=item.id, add_type='None') }}"
                                                class="add_item_btn item_btn">Edit</a>
                                            <p> | </p>
                                            <a href="{{ url_for('admin.editorial_board_item_delete', id=item.id) }}"
                                                class="add_item_btn item_btn">
                                                Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </span>
                                </li>
                                {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if 'login' in session %}
<style>
    ul.left_part_ul_ed li span {
        display: flex;
        align-items: center;
    }

    .title_ed span {
        display: flex;
        align-items: center;
    }
</style>
{% endif %}

<style>
    .add_btn {
        font-weight: 900;
        margin: 20px 20px 30px 20px;
    }

    a.add_item_btn {
        display: block;
        margin: 15px 5px;
        text-decoration: underline;
        color: rgb(20, 74, 175);
    }

    a.item_btn {
        color: rgb(102, 3, 0);
    }

    .item_btn_wrapper {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .item_btn_wrapper p {
        margin: 0 6px;
    }
</style>


{% endblock %}