{% extends 'base.html' %} {% block title %} ScienceAsia - Journal of The Science Society of Thailand {% endblock %} {% block main %}

<div class="instruction_main">
    <div class="instruction_image">
        <img src="{{ url_for('main.static', filename='images/instruction_authors.jpg') }}" alt="">
    </div>
    <div class="first_items_of_instruction_authors">
        <b>Updated: May 1, 2021</b>
    </div>
    <a name="top"></a>
    <p class="p_ins">Download the template for doc files from <a href="#">here</a>.</p>
    <div class="ins_">
        <b class="instr_title">
            Type of articles
        </b>
    </div>
    <div class="instruc_items">
        <div class="item_ins">
            <b>
                <span><em>a. Review articles</em></span> Mini-review articles of about 12 typed pages (1.5 line spacing, single column) are accepted by invitation at this stage. 
            </b>
            <p>However, if the prospective author with at least ten years of experience in the subject would like to submit a review article, he/she must first send half to full page of the concept paper covering the main content accompanied by his/her cv
                and a list of previous publications related to the submitted review article, to be considered.</p>
        </div>
        <div class="item_ins">
            <b><span><em>b. Regular Research articles</em></span> should be limited to 16 typed pages (1.5 line spacing, single column), including no more than 8 Figures and/or Tables.</b>
            <p></p>
        </div>
        <div class="item_ins">
            <b><span><em>c. Short reports</em></span></b>
            <p>have similar subject scope to the regular research article, except that they are relatively short, <b>containing no more than 10 typed pages (1.5 line spacing, single column) with the maximum of 4 Figures and/or Tables.</b> They are accepted
                as short but essentially complete works.</p>
        </div>
    </div>
    <div class="ins_">
        <b class="instr_title">
            Scope of articles
        </b>
    </div>
    <div class="instruc_items">
        <ul>
            <li>- Only the manuscripts in Science areas are accepted. Social science, business, and management are not in our scope. Manuscripts are classified into four sections: Biological Sciences and Biotechnology, Chemistry and Material Sciences, Environmental
                and Applied Sciences, and Mathematics and Physical Sciences. (Please read “About ScienceAsia” and “Journal Policy”.) Manuscripts reporting or focusing on clinical medicine or technology related studies (in engineering/architectural/agricultural
                field) without scientific experiments are not accepted. For manuscripts in computer science, those without significant theoretical novelty will not be considered.</li>
            <li>- Manuscripts reporting new compounds should show results on essential spectroscopic characterization and/or elemental analyses.</li>
            <li>- Manuscripts reporting known compounds will only be published if there is interesting new data on their distribution, structure, and/or function.</li>
            <li>- Manuscripts describing biological screening of crude extracts without identification of active principle(s) are not accepted.</li>
            <li>- When plant constituents have been chemically identified, voucher specimens of the plant used should be deposited in a recognized herbarium and the identification number quoted.</li>
            <li>- Manuscripts with data obtained from only literature search, historical record, interview and questionnaire are not accepted.</li>
        </ul>
        <p class="p_">
            In all cases, authors will be expected to supply high-quality manuscript with originality and appropriate citation. <b>Submission of the same manuscript to more than one journal concurrently is unacceptable in scientific community and considered an unethical publishing behavior.</b>
        </p>
        <p>
            <a href="#">A checklist</a> can be downloaded to help in preparation and checking prior to submission of the manuscript.</p>
    </div>

    <img src="../static/images/manuscripts.jpg" alt="" class="image_manu">

    <div class="manu_main">
        <p><b>
            Manuscripts submitted to ScienceAsia must conform to the guidelines of the journal. The authors must send a cover letter along with your submission (see example <a href="#">here</a> ) and suggest 3 names of reviewers with affiliation and email address. The manuscripts must be written in good English, professional language editing service is recommended in case English is not your native language. 
        </b> The manuscript with continuous line number from the start to the end should be divided into the following sections:</p>

        <div class="item_ins item1_ins">
            (1) <b><span><em>Title page </em></span></b>- This page contains title of the article, names of all authors, and indexing term. Title should be short, descriptive, and should not contain any abbreviations or subtitles. List the names of all
            authors (preferred given names, initial(s), and surnames), affiliations, complete addresses, and email address of the corresponding author. Please also provide 3-5 keywords.
            <br><br>
            <p>Authors are strongly advised to ensure that the author group, the corresponding author, and the order of authors are correct at submission. Adding and/or deleting authors during the revision stages are generally not permitted. Please note
                that changes to authorship cannot be made after acceptance of a manuscript.</p>
        </div>
        <div class="item_ins item1_ins">
            (2) <b><span><em>Abstract </em></span></b> - This section should be a concise summary of the manuscript of not more than 250 words. It must be written in one paragraph without subsections, including a brief description of the methods, main
            results, and conclusions, and emphasize what is novel in the work. It should preferably not contain any citations. A well-written abstract will help potential referees to decide whether or not to review the manuscript based only on viewing
            the title and abstract.
        </div>
        <div class="item_ins  item1_ins">
            (3) <b><span><em>Introduction </em></span></b> - This section should give a short review of literature with general background of the subject, current state and remaining gap of knowledge, reason for carrying out the study and its relationship
            to reported works in the area, then followed by the aim of the present study.
        </div>
        <div class="item_ins  item1_ins">
            (4) <b><span><em>Materials and Methods </em></span></b> - This section should provide a brief but sufficient information for others to be able to reproduce the experiments. Use bold font for different subsections and italic bold for sub-subsections
            (if any). Indicate the sources of important chemicals, microorganisms, plants, animals and models of equipment used; the Company name, city, and country should be mentioned. Describe in detail any truly new methods/procedures, but cite in
            references if the procedures are already published. If the previously published procedures are modified, describe how you modify them and cite the references of the original published procedures. SI units of measurement should be used.
        </div>
        <div class="item_ins  item1_ins">
            (5) <b><span><em>Results </em></span></b> - This section should describe results in the text, as supported by figures, and tables. Avoid redundant presentation in the text of the data already shown in figures or tables, nor use both figure
            and table to show the same data. Subsections may be used as necessary, written in bold fonts.
        </div>
        <div class="item_ins  item1_ins">
            (6) <b><span><em>Discussion </em></span></b> - The discussion should be concise and not verbose. Discussion should contain interpretation of results, and comparison with other published works. Results and discussion can be merged.
        </div>
        <div class="item_ins  item1_ins">
            (7) <b><span><em>Conclusion </em></span></b> – The conclusion may be a separate section or write as the last paragraph of Discussion section. Write as one paragraph, not dividing into verses. This part presents conclusion of the work, the
            importance and future work could also be mentioned. Avoid repeating the Abstract.
        </div>
        <div class="item_ins  item1_ins">
            (8) <b><span><em>Supplementary data </em></span></b> - Supplementary materials may be provided in the appendix section, e.g. extensive experimental data, graphical or spectral data, which are not the main result and cannot be included in the
            paper due to space limitations. Contents are presented in Table S1 or Figure S1, etc. No long text is allowed.
        </div>
        <div class="item_ins  item1_ins">
            (9) <b><span><em>Acknowledgements </em></span></b> – This section should acknowledge individuals who helped the work, funding unit, and institution, etc.
        </div>
        <div class="item_ins  item1_ins">
            (10) <b><span><em>Author Contributions </em></span></b> – This section is optional. In case authors would like to have this section, please be concise.
        </div>
        <div class="item_ins  item1_ins">
            (11) <b><span><em>References </em></span></b> Citation should be indicated in the text by numerals in square brackets in the same line as text, and in consecutive order. In the text, avoid unnecessarily citation by referring to authors’ names.
            If necessary, they must still be followed by the numeral system. Proper citation is important, authors should cite proper and up-to-date references. Avoid citing more than 3-4 references at one point. <em>Maximum number of references should not
                exceed 40 for regular research articles or 70 for mini-review articles.</em>
        </div>
        <div class="item_ins">
            A reference for ScienceAsia article should begin with the author's surname followed by initials of forename (and middle name, if any). If more than eight authors, use et al after the 8th author, then year in full (in bracket), the title of the article,
            journal name (italic and abbreviated, see <a href="#">https://cassi.cas.org/search.jsp</a> for Science and Engineering Journal Abbreviations), followed by volume number (bold) and full page numbers. The styles of references for
            the journal and book are shown below:
        </div>
    </div>
    <div class="four_items">
        <div class="item_ins1">
            <div class="ins_ i_">
                <b class="instr_title">
                    Journals:
                </b>
            </div>
            <div class="tekst">
                Guadez G, Pothipongsa A, Siren S, Liljeblad A, Jantaro S, Incharoensakdi A, Salminen T (2019) Crystal structure of dimeric Synechococcus spermidine synthase with bound spermidine substrate and product. Biochem J 476, 1009-1020.
            </div>
            <div class="tekst">
                Waditee R, Hibino T, Tanaka Y, Nakamura T, Incharoensakdi A, Hayakawa S, Suzuki S, Futsuhara Y, et al (2002) Functional characterization of betaine/proline transporters in betaine-accumulating mangrove. J Biol Chem 277, 18373-18382.
            </div>
        </div>
        <div class="item_ins1">
            <div class="ins_ i_">
                <b class="instr_title">
                    Book Chapter:
                </b>
            </div>
            <div class="tekst">
                Velmurugan R, Incharoensakdi A (2018) Nanoparticles and organic matter: process and impact. In: Tripathi DK, Ahmad P, Sharma S, Chauhan DK, Dubey NK (eds) Nanomaterials in Plants, Algae and Microorganisms: Concepts and Controversies, Elsevier, The Netherlands,
                pp 407-428.
            </div>
        </div>
        <div class="item_ins1">
            <div class="ins_ i_">
                <b class="instr_title">
                    Books:
                </b>
            </div>
            <div class="tekst">
                Pizzorno JE, Murray MT (2013) Textbook of Natural Medicine, Churchill Livingstone, Elsevier Inc., North Carolina, USA.
            </div>
        </div>
        <div class="item_ins1">
            <div class="ins_ i_">
                <b class="instr_title">
                    Theses/Dissertation:
                </b>
            </div>
            <div class="tekst">
                Tumhom S (2016) Structure and function relationship of amylomaltase from Corynebacterium glutamicum. PhD Dissertation, Chulalongkorn University, Thailand.
            </div>
        </div>
    </div>
    <p>Note: Web page should <b>not be given as reference unless there is really no alternative.</b></p>
    <div class="item_ins item1_ins">
        (12) <b><span><em>Tables and figures </em></span></b> - Tables - Each table must be prepared on a separate page (type 1.5 line spacing), with a short descriptive title and sufficient details in the legend immediately following the title, placed
        above the table. Symbols, abbreviations, and statistics description should be defined in the footnotes.
        <br><br>
        <p>
            <span style="font-weight: bold;">Figures</span> – All Figures (graphs and maps) must be supplied as vector format file types (EPS or PDF) which can be generated directly from the graph or map drawing program used. Figures/Photos should be
            submitted as high- resolution JPG or TIFF files. Use (a), (b), (c), etc to label sub-figures. Lettering in the figures including axis labels and numbers should be clear with adequate size to be legible after reduction. Half-tone illustrations
            could be accepted, provided that they have sufficient contrast. A scale should appear on photomicrographs. Figure legends should be typed 1.5 line spacing at the end of the text, on a separate page.
        </p>
    </div>
    <div class="item_ins item1_ins">
        <div class="contain_ins">
            <p>
                For Figures/Photos, color plates are welcome for the online version without charge if color is necessary for contribution to the understanding of the information. For the hard copy version, the authors will have to pay the additional charge for color
                plates (see under “Page charge” on the journal website or contact for rate to print color figures).
            </p>
        </div>
    </div>
    <div class="item_ins item1_ins mbfi">
        (13) <b><span><em> Ethical Use of Humans or Animals </em></span></b> - Manuscript reporting studies that involve use of humans or animals MUST be accompanied by a statement from Institutional Human/Animal Use and Care Committee, or similar body
        approving that humans/animals received humane care and rights according to the ethical guidelines specified by the national organization/institution.
    </div>
    <div class="up">
        <a href="#top"><img src="../static/images/up.jpg" alt="">UP</a>
    </div>
    <img src="../static/images/other_important_instructions.jpg" alt="" class="image_other">
    <p class="server_">
        <b>Non-mathematical manuscripts</b> can be prepared as OpenDocument (.odt) or MSWord (.doc) files. MS word users should download our template file at the top of this page. MS must be submitted via the online submission system as both word and
        PDF files, together with the cover letter file. The PDF files should include all figures and tables in the appropriate places in the text for the convenience of the referees. If the PDF file is larger than 2MB, please try to reduce the size by
        decreasing the resolution of the included figures. High resolution figures/photos could be submitted at the post-referee review stage.
    </p>

    <br><br>

    <p class="server_">
        <b>Manuscripts with a heavy mathematical content</b> will only be accepted as PDF files, prepared by using LaTeX. Authors must use the ScienceAsia class file (and, if they wish, the BibTeX style file) which can be downloaded in the below section.
        MS must be submitted via the online submission system as described above for non-mathematical manuscripts.
    </p>

    <div class="colorful_part">
        <div class="blue_part">
            <strong class="top_blue">
                Preparing manuscripts using OpenDocument or MSWord formats
            </strong>
        </div>
        <div class="blue_part">
            <p>(1) Use one-and-a-half spacing.</p><br>
            <p>(2) Times New Roman with font size 12 is preferred.</p><br>
            <p>(3) To create section and subsection headings, use the pulldown menu to select heading type, instead of selecting bold font yourself.</p>
            <p>(4) Add line numbers to the manuscript from start to finish (continuous format - do not reset the numbers on each page).</p>
            <p>(5) Try to avoid using MathType for displayed equations in your document unless it is absolutely necessary. Do not use MathType for mathematical expressions inside the text. [If you think that you need to use MathType a lot, then you should
                be using LaTeX instead of MSWord.]</p>
            <p>(6) Include figures and tables at convenient places within the text. If they are high resolution figures, reduce the resolution before including them, so that the file size is not too large.</p>
            <p>Export as PDF file. [ <a href="#">Click here to download freeware for creating pdf file</a> ]</p>
        </div>
        <div class="yellow_part">
            <div class="top_yellow">
                <p>Preparing manuscripts using LaTeX (for Math MS)</p>
                <p>Click <a href="#">here</a> for detailed guide on preparing manuscripts using LaTeX.</p>
            </div>
            <div class="yellow_bottom">
                To prepare a manuscript using LaTeX, you will need to carry out the following steps:
                <br><br>
                <p>(1) Click <a href="#">here</a> to download the latest version of the zip file which contains the ScienceAsia class file (scias.cls), the ScienceAsia BibTeX class file (scias.bst), other style (.sty) files which are needed, and the template
                    file (scias_template.tex).</p>

                <br>

                <p>(2) Unpack the zip file. Put the contents of the zip file in the same directory (folder) as your manuscript .tex file (or somewhere else where LaTeX can find it).</p>
                <br>

                <p>(3) Copy the file scias_template.tex to a name of your choice, for example, ms.tex and open it with your favourite editor.</p>
                <br>

                <p>
                    (4) You will see that the first line says <br> \documentclass[onecolumn,submit]{scias} <br> The next few lines are just comments (remember that anything on the same line following a % is a comment)
                </p>
                <br>
                <p>(5) Place your title inside \title{}</p>
                <br>
                <p>
                    (6) Find the line that starts with \author{}
                    <br> and put the name of the first author inside the curly brackets.
                    <br> For example, \author{Frederick R. Bloggs}
                </p>
                <br>
                <p>
                    Do the same for each additional author. For example, if the second author is Joe Soap, add \author{Joseph Q. Soap} below.
                </p>
                <br>
                <p>
                    (7) If there is more than one author, you will need to specify who the corresponding author is. To do this, insert [*] before the curly brackets enclosing the author name. For example, if Joe Soap is the corresponding author, then you will need to have
                    \author[*]{Joseph Q. Soap}
                </p>
                <br>

                <p>
                    (8) Use \address{} to specify the address. For example, \address{Mathematics Department, Camford University, Camford, CM7 6TY, UK}
                </p>
                <br>
                <p>
                    (9) If there is more than one address, give additional address commands. For each you will need to indicate which author is associated with which address by adding [a], [b], etc. before the curly brackets for both author and address. For example, if Fred
                    Bloggs is from Camford and Joe Soap is from CalSci, you would need
                    <br> \author[a]{Frederick R. Bloggs} \author[b,*]{Joseph Q. Soap}
                    <br> \address[a]{Mathematics Department, Camford University, Camford, CM7 8QT, UK}
                    <br> \address[b]{Mathematics Department, California School of Science and Technology, Oxnard, California 93030, USA}
                </p>
                <br>
                <p>
                    (10) Use \ead{} to give the email address of the corresponding author.
                </p>
                <br>
                <p>
                    (11) Place your abstract inside \abstract{ }
                </p>
                <br>

                <p>
                    Note that you do not need to write the word ABSTRACT: - this is generated automatically.
                </p>
                <br>

                <p>
                    (12) Place a list of keywords separated by commas inside \keywords{ }
                </p>
                <br>
                <p>
                    (13) You should now run latex on the file to see it has worked so far. The output should show the 'frontmatter' part of the paper.
                </p>
                <br>
                <p>
                    (14) Put the rest of your manuscript after \section{Introduction} in the usual way.
                </p>
                <br>
                <p>
                    (15) The line numbers are added automatically, but normally you will you need to run latex more than once before they look OK.
                </p>
                <br>
                <p>
                    Note : The manuscript created this way will be single-spaced. You do not need to change this.
                </p>
            </div>
        </div>
    </div>
    <div class="up  bottom_up">
        <a href="#top"><img src="../static/images/up.jpg" alt="">UP</a>
    </div>
</div>

{% endblock %}
