{% extends 'base.html' %}

{% block title %} ScienceAsia - Journal of The Science Society of Thailand {% endblock %}

{% block main %}

<div class="pad_jo">
    <div class="main_journal_part publication_main">
        <div class="journal_image pub_image">
            <img src="{{ url_for('main.static', filename='images/publication.jpg') }}" alt="">
        </div>
        <div class="public_date">Applicable to Submission from September 1, 2021 onwards.</div>
        <div class="first_pub_text">
            ScienceAsia publishes broad spectrum of papers in science and mathematics. Currently, the publication charge
            is USD 500 per research/review article (or USD 350 for a short report), the rate implemented as of January
            1, 2018. Since the journal is supported
            by the National Research Council of Thailand, the publication fee for
            <span class="underline_pub"> subsidized Thai corresponding authors or foreign corresponding authors working
                in Thai universities or institutions for at least 5 years</span> is <b>10,000 Baht (for a
                research/review article) or 7,000 Baht (for a short report).</b>
            <span class="underline_pub">The corresponding authors with life-time membership of the Science Society of
                Thailand</span> (proof of membership is required) are eligible for a 20% discount <b>(8,000 Baht for a
                research/review article or 5,600 Baht for a short report).</b> The publication fee excludes the cost of
            printing graphics or figures in full color for the hard copy version (optional) which will be an additional
            USD 1,000 (foreign corresponding authors) or 15,000 Baht (Thai corresponding authors) per
            paper. In all cases, payments must be settled soon after the paper is accepted.
        </div>
        <div class="public_date">Submission before September 1, 2021</div>
        <div class="first_pub_text">
            ScienceAsia publishes broad spectrum of papers in science and mathematics. Currently, the publication charge
            is USD 500 per research/review article (or USD 350 for a short report), the rate implemented as of January
            1, 2018. Since the journal is supported
            by the National Research Council of Thailand, the publication fee for
            <span class="underline_pub"> subsidized Thai corresponding authors or foreign corresponding authors working
                in Thai universities or institutions for at least 5 years</span> is <b>10,000 Baht (for a
                research/review article) or 7,000 Baht (for a short report).</b>
            <span class="underline_pub">The corresponding authors with life-time membership of the Science Society of
                Thailand</span> (proof of membership is required) are eligible for a 20% discount <b>(8,000 Baht for a
                research/review article or 5,600 Baht for a short report).</b> The publication fee excludes the cost of
            printing graphics or figures in full color for the hard copy version (optional) which will be an additional
            USD 1,000 (foreign corresponding authors) or 15,000 Baht (Thai corresponding authors) per
            paper. In all cases, payments must be settled soon after the paper is accepted.
        </div>
        <p class="fot_pub">Please transfer the publication charge to the account shown below (this new account is
            effective from February 18, 2019 onwards).</p>
        <table width="399" border="0" align="center" cellpadding="2" cellspacing="0">
            <tbody>
                <tr>
                    <td width="104">Account Name: </td>
                    <td width="287"><strong>ScienceAsia </strong></td>
                </tr>
                <tr>
                    <td>Account No. </td>
                    <td><strong>162-0-32880-1</strong></td>
                </tr>
                <tr>
                    <td>Bank:</td>
                    <td><strong>Krungthai Bank PCL.</strong></td>
                </tr>
                <tr>
                    <td>Branch:</td>
                    <td><strong>Chamchuri Square Branch </strong></td>
                </tr>
                <tr>
                    <td valign="top">Address:</td>
                    <td>
                        <p><strong>319 Chamchuri Square Building, Phayathai Road, Pathumwan Subdistrict, Pathumwan
                                District, Bangkok 10330, Thailand
                                TEL. +66-2-160 5122-5
                            </strong></p>
                    </td>
                </tr>
                <tr>
                    <td valign="top">SWIFT CODE: </td>
                    <td><b>KRTHTHBK</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
