{% extends 'base.html' %} {% block title %}ScienceAsia - Journal of The Science Society of Thailand{% endblock %} {% block main %}
<div class="cont">
    <div class="pad_jo fixed">
        <div class="main_journal_part mb_st">
            <div class="title_">
                <b class="title_status">Information on Manuscript status and Time frame</b>
            </div>
            <p class="status_date">
                Posted Aug 1, 2020
            </p>
            <div class="status_main_block">
                <h4>MS status</h4>
                <div class="text_part_st">
                    <p class="first_st_text">
                        Manuscripts submitted to ScienceAsia can be classified according to their status at different stage as follows:
                    </p>
                    <p class="second_st_text">
                        <b>EDITOR REVIEW</b> (MS is with editor), <b>PROCESSING</b> (Reviewers invitation), <b>UNDER REVIEW</b> (MS is being reviewed by reviewers), <b>REVISION</b> (MS is being revised by author/Revised MS is being checked by reviewers/editor),
                        <b>REJECTED</b> (by editors' comment/by reviewers' comments), <b>PrePRR</b> (PRR = post-referee review; editor is satisfied with the MS and informs the author to prepare final version), <b>PRR</b> (editor approves final version),
                        <b>ACCEPTED</b> (MS is accepted after page charge payment), <b>GALLEY PROOF</b> (proof is made by Publishing Unit and author), <b>PUBLISHED</b> (MS is published online as Accepted articles, then as hard copy for bimonthly regular
                        issues).
                    </p>
                </div>
                <h4>Time frame</h4>
                <ol class="ol_st">
                    <li>After submission, an auto reply informing MS number will be sent to all authors of the manuscript.</li>
                    <li>Notification will be sent to the corresponding author within 3 weeks after submission if the manuscript is not suitable for publication as reviewed by the Editors.</li>
                    <li>Once the Editor in charge of a particular manuscript assigns reviewers, usually within 4 weeks after submission, the username and password will be emailed to the corresponding author to follow the status of the manuscript.</li>
                    <li>The time from submission to Editor's decision (accepted, revised, or rejected) is about 2 to 6 months.</li>
                    <li>After finishing the galley proof, the accepted MS will be published online with doi number. Only the MS of the bimonthly regular issue will be published in the printed version in consecutive order.</li>
                    <li>The time from submission to online publication is about 3 to 8 months.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% block man %}
<p class="p">
    <a href="#">Manuscript status and Time frame</a>|
</p>{% endblock %} {% endblock %}