{% extends 'base.html' %} {% block title %} ScienceAsia - Journal of The Science Society of Thailand {% endblock %} {% block main %}

<div class="main_block_sub">
    <div class="sub_center_block">
        <div class="submission_main-block">
            <p class="sp_sub">I, as corresponding author, agree to pay the publication charge if my manuscript is accepted to be published in <em>ScienceAsia</em>.</p>

            <table class="table_sub" border="1" align="center" cellpadding="4" cellspacing="0">
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <b>For regular article</b>
                        </td>
                        <td>
                            <b>For short report</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Thai<sup>*</sup><b>
              </b></b>
                        </td>
                        <td align="center">
                            10,000 B
                        </td>
                        <td align="center">
                            7,000 B
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Thai<sup>*</sup>(lifetime member of SST)<b>
              </b></b>
                        </td>
                        <td align="center">
                            8,000 B
                        </td>
                        <td align="center">
                            5,600 B
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Non-Thai<b>
              </b></b>
                        </td>
                        <td align="center">
                            500 USD
                        </td>
                        <td align="center">
                            350 USD
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="sub_text">Include non-Thai corresponding author working in Thai universities or institutions for at leat 5 years.</p>
            <p class="sub_text sub_red">*The payee is responsible for the tax or bank charge.</p>

            <div class="buttons">
                <div class="btn_center">
                    <button>I Agree</button>
                    <button>Abort Submission</button>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}